body {
  color: white;
  background-image: url("img/hxhprofile.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.list-group-item {
  background-color: black;
  word-wrap: break-word;
}

.messages {
  width: 40%;
  margin-left: 29%;
}

.page-header{
    border: none;
}

.username{
  margin-bottom: 2%;
}

.topic{
  margin-bottom: 1%;
}

.user{
  color:aqua
}